/* *{
box-sizing: border-box;
margin: 0;
padding: 0;
}

body{
    display: flex;
    height: 900px;
    justify-content: center;
    align-items: center;

}

.container{
    height: 700px;
    width: 1200px;
    background-color: red;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
}

h1{
    text-align: center;
}

.top-container , .bottom-container{
    background-color: chartreuse;
    height: 50%;
}


.big_box{
    background-color: coral;
    height: 80%;
}


.top_big-box{
background-color: cornflowerblue;
height: 50%;
display: flex;
}

.small-box{
    background-color: darkcyan;
    flex-basis: calc(100% / 3);
    height: 100%;
}

.left{
    text-align: end;
}

.center{
    text-align: center;
}

.right{
    text-align: start;
}
 */


.debug-mid{
    height: 800px;
}

.debug-mid{
    height: 400px;
}

.debug-short{
    height: 200px;
}

.debug-tiny{
    height: 100px;
}

.ms_color_pink{
    color: #b91450;
}

.ms_bg-color_pink{
    background-color: #b91450;
}

.ms_bg-grey{
    background-color: #b6a2a9;
}

.ms_border_pink{
    border-color: #b91450;
}

